@import 'variables';


// COMPONENTS
@import 'components/navbar';
@import 'components/hero';
@import 'components/works';
@import 'components/benefits';
@import 'components/about';
@import 'components/certificates';
@import 'components/process';
@import 'components/contact';
@import 'components/footer';
@import 'components/privacy-policy';
@import 'components/terms-of-use';

// Base styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

body {
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-primary);
  background-color: var(--color-bg);
  transition: var(--transition-default);
}

// Layout components
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

// Section components
.section-title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 15px;
  color: var(--color-text-primary);
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;

  &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 4px;
      background: var(--gradient-primary);
      border-radius: 2px;
  }
}

.section-subtitle {
  text-align: center;
  font-size: 1.1rem;
  color: var(--color-text-secondary);
  max-width: 700px;
  margin: 0 auto 60px;
}