// Animations
@keyframes shine {
    0% { left: -100px; }
    60% { left: 100%; }
    100% { left: 100%; }
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 hsla(var(--hue-success), 100%, 70%, 0.7); }
    70% { box-shadow: 0 0 0 6px hsla(var(--hue-success), 100%, 70%, 0); }
    100% { box-shadow: 0 0 0 0 hsla(var(--hue-success), 100%, 70%, 0); }
}

@keyframes pulse-light {
    0% { box-shadow: 0 0 0 0 hsla(var(--hue-primary), 83%, 53%, 0.7); }
    70% { box-shadow: 0 0 0 6px hsla(var(--hue-primary), 83%, 53%, 0); }
    100% { box-shadow: 0 0 0 0 hsla(var(--hue-primary), 83%, 53%, 0); }
}